Button { -fx-background-color: #02CF08;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FFCC00;
         -fx-font-family: "Comic Sans MS";
         -fx-font-style: italic;
         -fx-font-size: 28px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}